<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID"
	version="2.5">
<display-name>firstServlet</display-name>
<welcome-file-list>
	<welcome-file>index.html</welcome-file>
	<welcome-file>index.htm</welcome-file>
	<welcome-file>index.jsp</welcome-file>
	<welcome-file>default.html</welcome-file>
	<welcome-file>default.htm</welcome-file>
	<welcome-file>default.jsp</welcome-file>
</welcome-file-list>

<servlet>
	<servlet-name>HelloServlet</servlet-name>
	<servlet-class>tom.HelloServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>HelloServlet</servlet-name>
	<url-pattern>/servlet/tom.HelloServlet</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>BasicMondaiServlet</servlet-name>
	<servlet-class>tom.BasicMondaiServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>BasicMondaiServlet</servlet-name>
	<url-pattern>/servlet/tom.BasicMondaiServlet</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>Now</servlet-name>
	<servlet-class>tom.Now</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Now</servlet-name>
	<url-pattern>/servlet/tom.Now</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>OutPutMondai_1_1</servlet-name>
	<servlet-class>tom.OutPutMondai_1_1</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>OutPutMondai_1_1</servlet-name>
	<url-pattern>/servlet/tom.OutPutMondai_1_1</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>OutPutMondai_1_2</servlet-name>
	<servlet-class>tom.OutPutMondai_1_2</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>OutPutMondai_1_2</servlet-name>
	<url-pattern>/servlet/tom.OutPutMondai_1_2</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>OutPutMondai_1_3</servlet-name>
	<servlet-class>tom.OutPutMondai_1_3</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>OutPutMondai_1_3</servlet-name>
	<url-pattern>/servlet/tom.OutPutMondai_1_3</url-pattern>
</servlet-mapping>
</web-app> 